@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fonte-principal: "Poppins", sans-serif;
    --fonte-secundaria: "Noto Sans JP", sans-serif;

    --cor-fonte-principal: #ffffff;
    --cor-fonte-secundaria: #0176C0;
    --cor-fonte-terciaria: #6CC62F;

    --peso-fonte-negrito: bold;
    --peso-fonte-leve: 500;
    --peso-fonte-normal: 700;
}

.cabecalho{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.lista__container{
    display: flex;
    gap: 96px;
}

.lista__container a{
    text-decoration: none;   
    color: var(--cor-fonte-secundaria);
}

.lista__container li{
    list-style: none;
    font-family: var(--fonte-principal);
    font-weight: var(--peso-fonte-normal);
    font-size: 1.5rem;
    transition: 0.7s;
}

.lista__container li:hover{
    color: #004977;
}

.conteudo__primeiro{
    max-width: 1200px;
    margin: 0 auto;
}

.banner__imagem{
    margin-top: 13px;
}

.conteudo__segundo{
    max-width: 1200px;
    margin: 0 auto;
}

.cards{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__item__azul{
    color: var(--cor-fonte-principal);
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: var(--peso-fonte-negrito);
    font-size: 1.75rem;
    padding: 3px;
    border: 1px solid var(--cor-fonte-secundaria);
    border-radius: 6px;
    background: var(--cor-fonte-secundaria);
}

.card__item__verde{
    color: var(--cor-fonte-principal);
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: var(--peso-fonte-negrito);
    font-size: 1.75rem;
    padding: 3px;
    border: 1px solid var(--cor-fonte-terciaria);   
    border-radius: 6px;
    background: var(--cor-fonte-terciaria);
}

.conteudo__terceiro{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 16px;
    background: var(--cor-fonte-secundaria);
}

.sobre__produtos{
    display: flex;
    height: 598;
}

.sobre__produtos__textos{
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.sobre__produtos__conteudo{
    font-family: var(--fonte-principal);
    font-size: 3.25rem;
    color: var(--cor-fonte-principal);
    font-weight: var(--peso-fonte-normal);
}

.botao__ver__mais{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--cor-fonte-terciaria);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-fonte-normal);
}

.botao__ver__mais a{
    text-decoration: none;
    color: var(--cor-fonte-terciaria);
}

.imagem__maca img{
    height: 100%;
}


.conteudo__quarto{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    background: var(--cor-fonte-secundaria);
}

.localização{
    display: flex;
    height: 598px;
    align-items: center;
}

.localização img{
    height: 100%;
}

.texto__destaque{
    padding: 40px;
    font-family: var(--fonte-principal);
    font-weight: var(--peso-fonte-normal);
    color: var(--cor-fonte-principal);
    font-size: 3rem;
}

.textos a{
    color: var(--cor-fonte-principal);
    font-family: var(--fonte-principal);
    text-decoration: none;
}

.botao__agendar{
    cursor: pointer;
    background: var(--cor-fonte-terciaria);
    color: var(--cor-fonte-principal);
    font-weight: var(--peso-fonte-normal);
    border-radius: 6px;
    border: 0;
    padding: 15px;
    margin-left: 40px;
    font-size: 1.75rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer{
    max-width: 1200px;
    margin: 30px auto;
}

.mapa__site__container{
    display: flex;
    justify-content: space-around;
    font-family: var(--fonte-principal);
}

.titulos__listas{
    margin-top: 47px;
    font-size: 1.125rem;
    font-weight: var(--peso-fonte-normal);
}

.itens__lista__footer__container{
    margin-top: 25px;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.itens__lista__footer__container a{
    text-decoration: none;
}

.redes__sociais{
    margin-top: 150px;
    background: var(--cor-fonte-secundaria);
    padding: 100px;
}

.imagens__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

#copy{
    display: flex;
    justify-content: center;
    background: var(--cor-fonte-terciaria);
    padding: 20px;
    font-family: var(--fonte-principal);
    font-weight: var(--peso-fonte-normal);
    color: var(--cor-fonte-principal);
}


/*---------------- RESPONSIVE  CSS -----------------*/

@media only screen and (max-width: 600px){
    .cabecalho{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .lista__container{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .conteudo__primeiro{
        width: 100%;
    }

    .conteudo__primeiro img{
        width: 100vw;
    }

    .conteudo__terceiro{
        width: 100%;
    }

    .sobre__produtos{
        display: flex;
        flex-direction: column;
    }


    .sobre__produtos__textos{
        display: flex;
        flex-direction: column;
        text-align: center;
        background: url(../imgs/macaImg.png) no-repeat center center;
        padding: 30px;
    }

    .sobre__produtos__conteudo{
        text-align: start;
        font-size: 1.5rem;
        background: #0176C0D7;
    }

    .imagem__maca img{
        display: none;
    }

    .conteudo__segundo{
        width: 100%;
    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .conteudo__quarto{
        width: 100%;
        height: 60rem;
    }

    .localização{
        display: flex;
        flex-direction: column;
    }

    .mapa__img img{
        width: 100vw;
    }
    
    .textos{
        display: flex;
        flex-direction: column;
    }

    footer{
        width: 100%;
    }

    .mapa__site__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    #copy{
        text-align: center;
    }





    
    







}













